body{
    background-image: url("../images/bg_body.jpg");
}

h1,
h2,
p{
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 22px;
    color: #ead4aa;
    padding-bottom: 18px;
}

h2{
    font-size: 18px;
    color: #fff78d;
    padding-bottom: 19px;
}

p{
    font-size: 11px;
    line-height: 12px;
    color:  #d7cfc8;
    padding-right: 35px;
}

.wrapper{
    position: relative;
    padding-bottom: 65px;
}

/* ================header======================== */

.lang-list,
.auth{
    position: absolute;
    top: 38px;
}

.lang-list{
    left: 120px;
}

.auth{
    right: 121px;
}

.lang-list .lang-item,
.auth .auth-link a{
    display: inline-block;
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    cursor: pointer;
}

.lang-item a,
.auth .auth-link a{
    color: #ffffff;
}

.lang-list .lang-item,
.auth .auth-link.signin a{
    color: #e8d1a4;
}

.auth .auth-link a{
    text-transform: lowercase;
}

.lang-list .lang-item:not(:first-child)::before,
.auth .auth-link:not(:first-child)::before,
.footermenu .menu-item:not(:first-child)::before{
    content: "|";
    color: #ffffff;
    padding: 0 7px 0 4px;
}

.lang-list .lang-item:nth-child(3),
.lang-list .lang-item:last-child{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 64px 100px 41px 131px;
}

.mainmenu{
    align-self: flex-end;
    max-width: 710px;
    height: 39px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 2px;
}

.menu-list{
    display: flex;
    height: 100%;
}

.mainmenu .menu-list .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 26px 0 32px;
}

.mainmenu .menu-list .menu-item:nth-child(2){
    padding: 0 38px 0 41px;
}

.mainmenu .menu-list .menu-item:nth-child(3){
    padding: 0 27px 0 26px;
}

.mainmenu .menu-list .menu-item:nth-child(4){
    padding: 0 36px 0 27px;
}

.mainmenu .menu-list .menu-item:nth-child(5){
    padding: 0 30px 0 36px;
}

.mainmenu .menu-list .menu-item:nth-child(6){
    padding: 0 27px 0 30px;
}

.mainmenu .menu-list .menu-item:hover,
.mainmenu .menu-list .menu-item.active{
    background-image: url("../images/bg_menu-item-active.png");
    background-size: cover;
}

.mainmenu .menu-item a{
    font-family: 'Georgia', 'Times New Roman', serif;
    color:  #461500;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

/* =======================/header========================= */

/* ========================main=========================== */

.content{
    padding: 0 100px;
}

.promo{
    background-image: url("../images/bg_promo.png");
    border-radius: 10px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color:  #f9da5a;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    padding: 22px 47px 28px 58px;
    margin-bottom: 54px;
}

.promo::before{
    content: url("../images/bg_about.png");
    display: inline-block;
    height: 90px;
    padding-right: 43px;
    float: left;
    transform: translateY(10%);
}

.article{
    position: relative;
}

.article img{
    position: absolute;
    left: 24px;
}

.article:first-of-type img{
    top: 0;
}

.article:not(:first-of-type) img{
    top: 48%;
}

.article h2,
.article p{
    padding-left: 147px;
}

.article:not(:first-of-type){
    padding-top: 47px;
}

/* ========================/main=========================== */

/* =======================footer=========================== */

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 91px 0 101px;
    border-top: 1px solid #9b7b3e;
    padding: 42px 24px 21px 11px;
}

.copyright{
    font-family: 'Verdana', 'Arial', sans-serif;
    color:  #f9da5a;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.footermenu .menu-item a{
    font-family: 'Verdana', 'Arial', sans-serif;
    color:  #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
}

/* ======================/footer=========================== */